// CAROUSE PANTALLA MÁS PEQUEÑA
// .carousel {
//   max-width: 600px;
//   max-height: 400px;
// }

// ICONOS DE NEXT Y PREV
.carousel-control-prev,
.carousel-control-next {
  width: 7%;
  font-size: 40px;
  color: #fff; /* color del ícono */
  opacity: 1; /* hacer que el botón sea siempre visible */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 80px; /* ancho del icono */
  height: 80px; /* alto del icono */
}

//INDICADORES
.carousel-indicators button {
  width: 50px; /* ancho de los indicadores */
  height: 10px; /* alto de los indicadores */
  border: none; /* quitar el borde */
  margin: 0 5px; /* margen entre los indicadores */
}

.carousel-indicators button.active {
  width: 50px; /* ancho del indicador activo */
  height: 10px; /* alto del indicador activo */
  background-color: #ce0606; /* color de fondo blanco para el indicador activo */
  border: none; /* quitar el borde */
  margin: 0 5px; /* margen entre los indicadores */
}

//FILTRO IMAGEN

.carousel-inner img {
  filter: brightness(60%);
}

//ALTURA CARROUSEL

#carouselExampleIndicators .carousel-inner img {
  max-height: 70vh;
  object-fit: cover;
}
