.hidden {
  display: none;
}

.card-img-top {
  height: 350px;
  object-fit: cover;
}

.card-img-top {
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem 0.25rem 0 0;
}

.card.shadow-bottom {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover .card-img-top.hovered {
  transform: translateY(-5px);
}

.card {
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:hover {
  transform: translateY(-30px);
}

.card .card-img-top {
  object-fit: cover;
  height: 100%;
}

.title {
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  font-weight: bold;
}

.button-container {
  margin-top: 120px;
}

button {
  font-size: 1.5em;
  padding: 10px 20px;
  background-color: #e62429;
  color: white;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 30px;
}

button:hover {
  background-color: #8f2327;
  color: white;
}
